*{
    box-sizing: border-box;
}
body {
    background-color: #EEE;
    font-family: Arial,Tahoma;
}

.page-head,
.page-description {
    text-align: center;
}

.page-head {
    font-size: 40px;
    margin: 20px;
}

.page-description {
    font-size: 20px;
    margin: 20 40px;
}